*
{
padding : 0;
margin: 0
}

.menu
{
text-align:center;
font-family:Comic Sans MS;
}

.menu ul
{
display : inline-flex;
list-style: none

}

.menu ul li
{
width:120px;
margin:15px;
padding:15px;
}

.img
{
margin: 20;
width :"20";
height :20;
}





